<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="/img/favicon.ico" rel="icon" type="image/x-icon" />
    <title>Cadastro.Pokedex</title>
</head>
<header class='header'>
    <nav>
        <img src="/img/pokedex.png" class="pok" alt="Pokédex Logo">
        <ul>
            <img src="/img/hi.gif" id="hi" alt="Pokédex Logo">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="detalhes">Detalhes</a>
            </li>
        </ul>
    </nav>
</header>
<body>
    <section class="cadastro">
        <form action="/infos" method="POST">

            <h2> Cadastre o seu Pokémon </h2>

            <section class="form">
                <label for="Foto do Pokemon: "></label>
                <input type="text" name="foto" id="foto" placeholder="Cole a URL da imagem" required>
            </section>
            <a href="https://www.pokemon.com/br/pokedex/" target="__blank" id="link">Baixe as imagens aqui!</a>

            <section class="form">
                <label for="Número:"></label>
                <input type="text" name="num" id="num" placeholder="Número do Pokémon" required>
            </section>

            <section class="form">
                <label for="Nome: "></label>
                <input type="text" name="nome" id="nome" placeholder="Nome" required>
            </section>
                
            <section class="form">
                <label for="Tipo:"></label>
                <input type="text" name="tipo" id="tipo" placeholder="Tipo" required>
            </section>

            <section class="form">
                <label for="Categoria:"></label>
                <input type="text" name="cat" id="cat" placeholder="Categoria" required>
            </section>

            <section class="form">
                <label for="Altura:"></label>
                <input type="text" name="alt" id="alt" placeholder="Altura" required>
            </section>

            <section class="form">
                <label for="Peso:"></label>
                <input type="text" name="peso" id="peso" placeholder="Peso" required>
            </section>

            <section class="form">
                <label for="Descrição:"></label>
                <input type="text" name="desc" id="desc" placeholder="Descrição" required>
            </section>
        
            <button type="submit" class="button" id="button">Adicionar Pokémon</button>
        </form>
        
    </section>

    <script src="/js/script.js"></script>

</body>
</html>